body {
    background-color: #68686d;
}
h3 {
    color: black;
}
p {
    color: black;
}

.PUBG {
    color: #ffe500;
}

.PO2 {
    color: #3fff00;
}

.table1 {
    background-color: #3e4344;
    border: 2px,#2c3033;
    padding: 10px;
}

.div1 {
    padding-left: 85px;
    paddign-right: 85px;
    align: center;
}

