body {
    background-color: #68686d;
}
h1 {
    color: blue;
}
p {
    color: black;
}

.PUBG {
    color: #ffe500;
}

.PO2 {
    color: #3fff00;
}

.table1 {
    background-color: #3e4344;
    border: 2px;
    border-color: #2c3033;
    align: center;
    padding: 10px;
}

.div1 {
    padding: 10px;
    align: center;
}

